<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="egeo.presentation.EgeoModelWizardID"
            name="%_UI_EgeoModelWizard_label"
            class="egeo.presentation.EgeoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EgeoModelFile.gif">
         <description>%_UI_EgeoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="egeo.presentation.EgeoEditorID"
            name="%_UI_EgeoEditor_label"
            icon="icons/full/obj16/EgeoModelFile.gif"
            extensions="egeo"
            class="egeo.presentation.EgeoEditor"
            contributorClass="egeo.presentation.EgeoActionBarContributor">
      </editor>
   </extension>

</plugin>
