<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="egeo.ui.MapView"
            id="egeo.ui.mapView"
            name="Egeo Map View"
            restorable="true">
      </view>
      <view
            class="egeo.ui.EgeoDatabaseView"
            id="egeo.ui.database"
            name="Egeo Database"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="egeo.ui.PerspectiveFactory"
            id="egeo.ui.perspective"
            name="Egeo">
      </perspective>
   </extension>
</plugin>
