<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Egeo target platform" sequenceNumber="21">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.0.v201303201134"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.4.0.v201303201134"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.1.0.v20130320-1001"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130318-0639"/>
<unit id="org.eclipse.platform.sdk" version="4.3.0.I20130314-1330"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Xms40m -Xmx2048m</vmArgs>
</launcherArgs>
</target>
