<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gpx -->
      <package
            uri="http://www.topografix.com/GPX/1/1"
            class="egeo.gpx.GpxPackage"
            genModel="model/gpx.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gpx -->
      <package
            uri="http://www.topografix.com/GPX/1/0"
            class="egeo.gpx.GpxPackage"
            genModel="model/gpx.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated gpx -->
      <parser
            type="gpx"
            class="egeo.gpx.util.GpxResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.topografix.com/GPX/1/0"
            target="platform:/plugins/egeo.gpx/model/">
      </mapping>
      <mapping
            source="http://www.topografix.com/GPX/1/1"
            target="platform:/plugins/egeo.gpx/model/">
      </mapping>
   </extension>

</plugin>
