<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gpx -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="egeo.gpx.presentation.GpxModelWizardID"
            name="%_UI_GpxModelWizard_label"
            class="egeo.gpx.presentation.GpxModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GpxModelFile.gif">
         <description>%_UI_GpxModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gpx -->
      <editor
            id="egeo.gpx.presentation.GpxEditorID"
            name="%_UI_GpxEditor_label"
            icon="icons/full/obj16/GpxModelFile.gif"
            extensions="gpx"
            class="egeo.gpx.presentation.GpxEditor"
            contributorClass="egeo.gpx.presentation.GpxActionBarContributor">
      </editor>
   </extension>

</plugin>
